## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# User-specific & VS files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Flutter Mobile (managed in independent repository)
/computer_components_mobile/
install_flutter.ps1
Push_To_GitHub.bat
